@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contactInput {
    @apply w-full text-base text-white placeholder:text-textLight border border-b-[1px] border-transparent border-b-textGreen py-3 px-2 outline-none focus-within:border-[1px] focus-within:border-textGreen duration-100 bg-zinc-800;
  }
}

/* .scrollbarHide::-webkit-scrollbar {
  display: none;
} */

/* Global body background color */
body {
  @apply bg-bodyColor; /* Replace 'bg-bodyColor' with your desired color class */
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 13px; /* Width of the scrollbar */
  height: 13px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(147, 146, 146, 0.2); /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6); /* Color of the scrollbar thumb */
  border-radius: 1px; /* Roundness of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8); /* Color when hovering */
}

.active {
  color: #64ffda;
}

.sk_logo {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
